page-timesheet {
.header-color {
  background-color:#03b6b3;
}
ion-col{
  
   @media screen and (max-width: 567px) {
     font-size: 2.0rem;
   }
   @media screen and (min-width: 567){
      font-size: 3.0rem;
   }
}
//used to get line below calendar date
.bottom-border { 
    border-bottom: 1px solid grey; 
}
.custom-center{
  width: 100%;
  display: block;
  vertical-align: middle;
  horizontal-align: middle;
  }
.label-margin {
   margin-bottom: 20px !important;
	 color: black;
}
.lbl-margin{
  margin: 0px !important
}

.option-width{
   max-width: 64% !important; 
	 padding: 13px 8px 13px 0px;
}
.option-width1{
   
	 padding: 10px 8px 10px 50px;
}
}
