<!--
  Generated template for the TimesheetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color=hcolor>
     <button ion-button menuToggle>
       <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title>Timesheet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row center>
     <ion-col width-50 >
       <div [style.background-color]="inColor"  text-center padding (click)="punchInTime()">
       <ion-label >In Time</ion-label>
       <ion-label *ngIf="in">{{ intime | date:'shortTime' }}</ion-label>
       <ion-label *ngIf="!in">{{intime}}</ion-label>
       </div>
     </ion-col>
     <ion-col width-50 >
      <div [style.background-color]="outColor"  text-center padding (click)="punchOutTime()">
       <ion-label >Out Time</ion-label>
       <ion-label *ngIf="out">{{outtime| date:'shortTime'}}</ion-label>
        <ion-label *ngIf="!out">{{outtime}}</ion-label>
     </div>
     </ion-col>
  </ion-row>
 
</ion-grid>
<ion-list  class="custom-center "  padding>
 
   <!--<button  ion-label icon-right (click)="picker.open()" style="width: 100%;  ">
    <ion-datetime #picker displayFormat="DD/MM/YYYY" [(ngModel)]="timeNow" (ionChange)="changedate($event)" style="width:50%"></ion-datetime>
   
  <!--   <ion-icon name="calendar"></ion-icon>
  </button>-->
 
				
 <button ion-button icon-right (click)="picker.open()" style="background-color:transparent; width:100%">
    <ion-datetime #picker displayFormat="DD/MM/YYYY"  [(ngModel)]="timeNow" (ionChange)="changedate($event)" style="color:Black;font-size:large"></ion-datetime>
    <ion-icon name="calendar" style="color:Black;"></ion-icon>
  </button>

 
  </ion-list>
 <ion-item>
  <ion-label class="lbl-margin">Project:</ion-label>
  <ion-select class="option-width" [(ngModel)]="project" (ionChange)="changeProject($event)">
    <ion-option *ngFor ="let item of projectData" value="{{item.ProjectID}}">{{item.ProjectName}}</ion-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label class="lbl-margin">Activity:</ion-label>
  <ion-select class="option-width" [(ngModel)]="activity" (ionChange)="changeActivity($event)">
    <ion-option *ngFor ="let item of activityData" value="{{item.ActivityID}}">{{item.ActivityName}}</ion-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label class="lbl-margin">SubActivity:</ion-label>
  <ion-select class="option-width" [(ngModel)]="subactivity" >
    <ion-option *ngFor ="let item of subactivityData" value="{{item.SubActivityID}}">{{item.SubActivityName}}</ion-option>
  </ion-select>
 </ion-item>
 <ion-item >
            <ion-label >Description</ion-label>
            <ion-input [(ngModel)]="dis" ></ion-input>
          </ion-item>
 <ion-item >
            <ion-label >Hours</ion-label>
            <ion-select class="option-width1" [(ngModel)]="hours">
                <ion-option *ngFor ="let item of hrs">{{item.hr}}</ion-option>
            </ion-select>
            <ion-select class="option-width1" [(ngModel)]="minitus">
                <ion-option *ngFor ="let item of mins">{{item.min}}</ion-option>
            </ion-select>
  </ion-item>
 <ion-item  text-center no-lines>
		     <button ion-button small round (click)="Save()" class="save-btn" color="hcolor">Save</button>
		</ion-item>
</ion-content>
