page-usertab {
    #circle {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        border-radius: 50%;
        text-align: center;
        background: #999999;
        font-size: 50%; 
        }
        .event-bullet {
            margin: 2px auto;
            height: 15px;
            width: 15px;
              vertical-align: middle;
              text-align: center;
            background-color: gray;
            border-radius: 30px;
             font-size: 50%;
          }    
}
