<!--
  Generated template for the UsertabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
<!--<ion-list no-lines>
 
   
	 <ion-item *ngFor="let user of userData" *ngIf="user.UID != userId" (click)="buddychat(user)">
		 <ion-avatar item-left *ngIf="user.UID != userId">

        <!--Both are working 
        <img src="{{user.UPicture}}" (error)="img.src = 'assets/img/logo.png'" #img>
          <img src="{{user.UPicture}}" onError="this.src='assets/img/images.jpg'">
        </ion-avatar>
            <h2>{{user.UName}}</h2>
       </ion-item>
  </ion-list>-->
  <ion-searchbar (ionInput)="searchuser($event)" placeholder="Search"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let user of userData" (click)="buddychat(user)">
     <ion-avatar item-left >

        <!--Both are working 
        <img src="{{user.UPicture}}" (error)="img.src = 'assets/img/logo.png'" #img>-->
          <img src="{{user.UPicture}}" onError="this.src='assets/img/images.jpg'">
        </ion-avatar>
     <div  item-start>
        {{user.UName}}
      </div>
      <div class="event-bullet" *ngIf="user.Count!=0">{{user.Count}}</div>
    </button>
  </ion-list>
</ion-content>
