<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
    <img  class="custom-avatar" src="assets/imgs/ipe.png" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
 
  <div class="login-box">
   
      <ion-row>
        <ion-col col-12 offset-md-3 col-md-6>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="text" placeholder="Email" [(ngModel)]="loginData.user" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Password" [(ngModel)]="loginData.pass" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="" col-12 offset-md-3 col-md-6>
          <ion-list inset>
          <button *ngIf="hide" ion-button block round outline color="light" (click)="signin()"  >Login</button>
          <button *ngIf="hide !=1" ion-button block round outline color="light" (click)="activate()"  >Activate</button>
          </ion-list>
        </ion-col>
      </ion-row> 
  </div>
</ion-content>
  