<ion-header>
  <ion-navbar color="hcolor">
    <ion-title>Add Machinery</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
            
            <!--<ion-item>
                <ion-input class="text-border" type="number" placeholder="SNo" [(ngModel)]="siteProgressData.sno"></ion-input>
            </ion-item>--> 			
            <ion-item>
               <ion-label >Resource</ion-label>
                 <ion-select class="option-width" [(ngModel)]="machineryData.resource" >
                       <ion-option *ngFor ="let item of RescData" value="{{item.MID}}">{{item.MDescription}}</ion-option>
               </ion-select>
            </ion-item>
			 
			<ion-item>
                <ion-label floating>Qty</ion-label>
                <ion-input  [(ngModel)]="machineryData.qty" type="number"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label floating>Remark</ion-label>
                <ion-input  [(ngModel)]="machineryData.remark"></ion-input>
            </ion-item> 
			
			
		    <ion-item  text-center no-lines>
		       <button ion-button small round (click)="submitData()" class="save-btn" color="hcolor">Save</button>
		    </ion-item>
		 
</ion-content>