<!--
  Generated template for the BuddychatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="hcolor">
    <ion-title>{{user.UName}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openActionSheet()">
      <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content>

<div class = "chatwindow">
  <ion-list no-lines>
    <ion-item *ngFor = "let item of allMessage; let last = last" text-wrap>
      <ion-row  *ngIf="checkDate(item.MessageTime)">
        <ion-col text-center>
				<h2>{{groupdate| date:'shortDate'}}</h2>
           
        </ion-col>
     </ion-row>
	  <ion-row>
	     <!--<ion-col col-3>
		   <ion-avatar *ngIf="item.Sender === userId" item-start >
			   <img src="{{user.UPicture}}">
		   </ion-avatar>
		 </ion-col> --> 
		  <ion-col col-12>
			  <div class="bubbleM me" *ngIf="(item.Sender | lowercase) === userId">
				<h2>{{item.Message}}</h2>
                <img class="img-height" *ngIf="item.MType == 'F'" src ="http://skylimit.co.in/Client/ChatApplication/{{item.Message}}">
				<div style="text-align:right;"><h3><font color="gray" >{{item.Time24 }}</font></h3></div>
                 
               
			  </div>
		  </ion-col>
	  </ion-row>
      <ion-row>
		  <ion-col col-12>
			  <div class="bubbleY you" *ngIf="(item.Sender |lowercase)=== friendsUserId">
				<h2>{{item.Message}}</h2>
				<img class="img-height" *ngIf="item.MType =='F'" src ="http://skylimit.co.in/Client/ChatApplication/{{item.Message}}">
				
                <div style="text-align:left;"><h3><font color="gray" >{{item.Time24 }}</font></h3></div>
			  </div>
		  </ion-col>
		  <!--<ion-col col-3>
		   <ion-avatar item-end *ngIf="item.Sender === friendsUserId">
			  <img src="assets/images.jpg">
		   </ion-avatar>
		 </ion-col>-->
	  </ion-row>
    </ion-item>
  </ion-list>
</div>
</ion-content>	

<ion-footer ion-fixed>    
  <ion-toolbar class="no-border" color="white">        
    <ion-input [(ngModel)]="message" placeholder="Write your message ..."></ion-input>  
    <ion-buttons end>
      <button ion-button (click)="addmessage()">
        <ion-icon name="send" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>    
</ion-footer><ion-header>

 