<ion-header>

  <ion-navbar color="hcolor">
    <ion-title>Image Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	
	<img src ="http://skylimit.co.in/Client/ChatApplication/{{image}}">				  
	  
</ion-content>
