page-site-progress {

.label-margin {
   margin-bottom: 25px !important;
	 color: black;
}

.save-btn {
    height: 35px;
    text-align: center;
    width: 120px;
}

.text-border {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
}

.lbl-margin{
  margin: 0px !important
}
.option-width{
   max-width: 64% !important; 
	 padding: 13px 8px 13px 0px;
}

.date-margin {
   margin-right: 124px !important;
	 padding: 0px !important;
}
.custom-icon {
 
  color : white;
}
.ion-md-dairy {
  content: url(assets/img/sd.png);
  width: 15%;
  height: 10%;
 
}
.ion-md-mtch {
  content: url(assets/img/mt.png);
  width: 15%;
  height: 10%;
 
  
}

.ion-md-gallery{
  content: url(assets/img/pp.png);
  width: 15%;
  height: 10%;
  
  
}
.ion-md-weather{
  content: url(assets/imgs/weather.png);
  width: 15%;
  height: 10%;
 
  
}
}