<ion-header>
  <ion-navbar color="hcolor">
	  <button ion-button menuToggle>
		  <ion-icon name="menu" ></ion-icon>
	   </button>
      <ion-title>Site Progress</ion-title>
  </ion-navbar>
  <ion-item>
  <ion-label class="lbl-margin">Select Project:</ion-label>
  <ion-select class="option-width" [(ngModel)]="project" (ionChange)="change($event)">
    <ion-option *ngFor ="let item of projectData" value="{{item.ProjectID}}">{{item.ProjectName}}</ion-option>
  </ion-select>
</ion-item>
<ion-item >
  <ion-label>Select Date:</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate" (ionChange)="changedate($event)"></ion-datetime>
</ion-item>

</ion-header>

<ion-content>
<ion-tabs #myTabs  color="hcolor"  selectedIndex="{{activeTab}}">
  <ion-tab [root]="tab1" tabTitle="Site Diary"  tabsHideOnSubPages="true"  tabIcon="ios-create-outline" ></ion-tab>
  <ion-tab [root]="tab2" tabTitle="Material/Resource"  tabsHideOnSubPages="true" tabIcon="md-construct"></ion-tab>
  <ion-tab [root]="tab3" tabTitle="Progress Photo"  tabsHideOnSubPages="true"  tabIcon="md-images"></ion-tab>
  <ion-tab [root]="tab4" tabTitle="Weather"  tabsHideOnSubPages="true"  tabIcon="md-thunderstorm"></ion-tab>
</ion-tabs>
</ion-content>