<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<head>
   
</head>
<ion-header>
  <ion-navbar color=hcolor>
   <button ion-button menuToggle>
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
   <ion-list >
     <ion-item  color=hcolor>
		<ion-avatar>
			<img  src='{{base64Image}}' class="profile-pic"  (click)='openActionSheet()' (error)="img.src = 'assets/img/images.jpg'" #img>
		</ion-avatar>
   </ion-item>
    <ion-item class="item-border">
        <h2 item-start>First Name</h2>
	    <p item-end>{{name}}</p>
  </ion-item>
  <ion-item class="item-border">
        <h2 item-start>Designation</h2>
	    <p item-end>{{Designation}}</p>
  </ion-item>
  <ion-item class="item-border">
        <h2 item-start>Mobile</h2>
	    <p item-end>{{Mobile}}</p>
  </ion-item>
  <ion-item class="item-border">
        <h2 item-start>Email</h2>
	    <p item-end>{{Email}}</p>
  </ion-item>
  
 </ion-list>
</ion-content>





