page-profile {
.profile-pic {
    border: 3px solid white;
    height: 160px !important;
    margin: 0 auto;
    width: 160px !important;
}

.profile-color {
   background-color:#03b6b3 !important;
}
.item-border{
  border-bottom: 1px solid gray;
}

.list-md .item-block .item-inner {
    border: medium none;
		}

	.modal-back-button{
	.back-button{
		display: block!important
	}
}

}
