<!--
  Generated template for the ChattabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color=hcolor>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Chat</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-tabs #chatTabs color="hcolor" tabsPlacement='top'>
  <ion-tab [root]= "Chattab1" tabTitle="Users" ></ion-tab>
  <ion-tab [root]="Chattab2" tabTitle="Projects" ></ion-tab>
  <ion-tab [root]="Chattab3" tabTitle="PKNS" ></ion-tab>
 </ion-tabs>
</ion-content>
