
page-site-diary-tab {

.header-color {
  background-color:#000000;
}

.item-margin {
   margin-left: -32px !important;
   margin-right: -34px !important;
}
.pd-5{
  padding-left: 5px !important;
  color:#ffffff;
}
.pdt-5{
  padding-left: -5px !important;
}
.pd-10{
  padding-left: 0px !important;
}
.item-width {
   max-width: 17% !important;
}

.item-mrg {
   margin-top: -21px !important;
 }
 

}
