<ion-content padding >
       <ion-fab bottom right #fab>
		 <button ion-fab color="hcolor" (click)="fabButtonClick()">
		   <ion-icon name="add" ></ion-icon>       
		 </button>
	   </ion-fab> 
	 
	     <ion-item no-lines>
			<ion-label>Anggaran % Kemajuan Kerja</ion-label>
		 </ion-item>
		  <ion-item >
            <ion-label floating>Fizikal (%)</ion-label>
            <ion-input [(ngModel)]="PhyPrg" type="number"></ion-input>
            
          </ion-item>
          <ion-item>
             <ion-label floating>Financial (%)</ion-label>
            <ion-input [(ngModel)]="FinPrg" type="number"></ion-input>
			<!--<ion-input placeholder="Fizikal (%)" [ngModel]="desig" type="number" ></ion-input>
			<ion-input placeholder="Financial (%)" [ngModel]="desig" type="number"></ion-input>-->
		 </ion-item>
         
		 <ion-item>
			<ion-label floating>Cacatan Harian</ion-label>
             <ion-input [(ngModel)]="CH"></ion-input>
		 </ion-item>
		 
		 <ion-item>
			<ion-label floating>Arahan Kepada Kontractor</ion-label>
             <ion-input [(ngModel)]="AKK"></ion-input>
		 </ion-item>
		

		<ion-item  text-center>
		     <button ion-button small round (click)="Save()" class="save-btn" color="hcolor">Save</button>
		</ion-item>
		
		<ion-list class="item-margin">
		   <ion-item >
		     <ion-row>
				<ion-col  col-2 class="header-color">
				  <p class="pd-5">Name</p>
				</ion-col>
				<ion-col col-3 class="header-color">
				 <p class="pd-5">Company</p>
				</ion-col>
				<ion-col col-2 class="header-color">
				  <p class="pd-5">IN</p>
				</ion-col>
				<ion-col col-2 class="header-color">
				  <p class="pd-5">OUT</p>
				</ion-col>
				<ion-col col-3 class="header-color">
				  <p class="pd-5">Action</p>
				</ion-col>
			 </ion-row>
			 </ion-item>
		  </ion-list>   
          <ion-list class="item-margin" >
		   
		    <ion-item *ngFor = "let item of siteData" class="item-mrg">
		     <ion-row>
				<ion-col col-2>
				   <p class="pdt-5">{{item.Name}}</p>
				</ion-col>
				<ion-col col-3>
				  <p class="pdt-5">{{item.Company}}</p>
				</ion-col>
				<ion-col col-2>
				   <p>{{item.VIN}}</p>
				</ion-col>
				<ion-col col-2>
				   <p>{{item.VOUT}}</p>
				</ion-col>
				<ion-col col-3>
				   <p><button ion-button icon-only color=white (click)="getDeleteVisitor(item)">
                                   <ion-icon name="trash" ></ion-icon></button>
                                   <button  ion-button icon-only color=white (click)="EditVistor(item)">
                                   <ion-icon name="create"></ion-icon></button>
                   </p>
				</ion-col>
			 </ion-row>
			 </ion-item>
		  </ion-list>   

</ion-content>