<!--
  Generated template for the MyprojectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 <ion-navbar color="hcolor">
   <button ion-button menuToggle>
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title>My Projects</ion-title>
  </ion-navbar>
 </ion-header>
 
<ion-content padding>
<!--<ion-list>
    <button ion-item *ngFor="let item of projectData"  text-wrap>
    <div item-start>
       <img  style="width:20%;" src='assets/img/logo.png' >
     
     <div >
      
      {{item.ProjectName}}
     </div>
    </div>
    </button>
     
 </ion-list>-->
 <ion-list>
 <ion-card *ngFor="let item of projectData" text-wrap>

  <ion-item>
   
    <h2><b>{{item.ProjectName}}</b></h2>
  </ion-item>
   <img src="assets/img/logo.png" style="height:200px">
    <ion-row>
    <ion-col>
        Project Manager: <b>{{item.PM}}</b>
    </ion-col>
    <ion-col>
       <button ion-button   small color="hcolor">Plan</button> <button ion-button   small color="hcolor">Excute</button>
    </ion-col>
     
    </ion-row>
    <ion-row>
    <ion-col>
        Start Date: {{item.StartDate | date:'mediumDate'}}
    </ion-col>
    <ion-col>
        End Date: {{item.FinishDate | date:'mediumDate'}}
    </ion-col>
     
    </ion-row>
    <ion-row>
    <ion-col>
        Status: {{ item.Status }}
    </ion-col>
    <ion-col>
        Budget: RM {{ item.BudgetAllocation }} 
    </ion-col>
     
    </ion-row>
    <ion-row>
    <ion-col>
        Plan Progress: {{ item.Plan }}
    </ion-col>
    <ion-col>
        Actual Progress: {{ item.Actual }}
    </ion-col>
     
    </ion-row>
  </ion-card>
  </ion-list>
</ion-content>
