page-myprojects {
 
 	.row.unlimited-items .col{
	  
	 
			@media screen and (max-width: 320px) {
			flex: none;
				 width: 100%;
			}
			@media screen and (min-width: 600px){
			flex: none;
				 width: 50%;

			}
	}
	.card-md {
    margin: 0 0px 1px 1px;
    width: 100%;
  }
	.scroll-content{
		padding: 4px !important;
	}
 .grid {
    padding: 0;
 }

 .card-height img{
    height: 250px;
		width: 100%;
 }
}
