page-home {
.row {
  padding: 5px;
  background:silver ;
  display: flex; /* equal height of the children */
}

.col {
 /* flex: 1;  additionally, equal width */
  
  padding: 1em;
 
}
.main{
 padding:5px;
}

img{
 width:50px;
 heigh:50px;
}


body {
    margin:0;
    padding:0;
   
}
#first_col{
}
}
