<ion-header>
  <ion-navbar color=hcolor>
    <button ion-button menuToggle>
       <ion-icon name="menu" ></ion-icon>
    </button>
	<ion-buttons end>
	<button ion-button icon-only (click)="presentPopover($event)">
       <ion-icon name="more"></ion-icon>
    </button>
	</ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <div class="main"><h2>My updates</h2> </div>

   <div class="row"  >
      <div class="col" style="background:#F39C12;" >
           <img src="assets/img/ic_edit.png"  />
      </div>
      <div class="col" style="background:#F1BB33;" >
          <span>My updates</span>
         <span> 2 Pending </span><span>Total Responded Activities 25</span>
      </div>
   </div>
    <div class="row"  >
       <div class="col" style="background:#00A65A;" >
           <img src="assets/img/paste.png" /></div>
      <div class="col" style="background:#008548;" >
         <span> My Reviwes</span>
         <span>0 Pending </span><span>Total Responded Activities 0</span>
      </div>
   </div>
   <div class="row"  >
       <div class="col" style="background:#DD4B39;" >
           <img src="assets/img/selection.png" /></div>
      <div class="col" style="background:#B13C2E" >
          <span>My Approvals</span>
         <span>0 Pending </span><span>Total Responded Activities 0</span>
      </div>
   </div>
  <div class="row"  >
       <div class="col" style="background:#00C0EF;" >
           <img src="assets/img/ic_price_tag.png"/></div>
      <div class="col" style="background:#009ABF" >
         <span> Punch List</span>
         <span>0 Pending </span><span>Total Responded Activities 0</span>
      </div>
   </div>
</ion-content>
