<ion-content>
	<ion-list>
	      <ion-list-header class="custom-font-size" color="hcolor">Setting</ion-list-header>
		 <ion-item (click)= showCheckbox()>
		    <ion-icon name="md-sync" item-start></ion-icon> 
		    Synchronize 
		 </ion-item>
	</ion-list>
</ion-content>