<!--<ion-split-pane [when]="checkSize()">-->
<ion-menu  [content]="content" color=hcolor type= "reveal">

  
  <ion-content  >
    <ion-item class="bottom-border " color=silver no-lines (click)="openProfile()">
   <ion-avatar item-left>
	 <img class="custom-avatar" [src]="profileImage" (error)="img.src = 'assets/img/images.jpg'" #img style="height:80px; width: 80px; border: 3px solid skyblue;" >
	     
   </ion-avatar>
    {{profileName}}
    <ion-icon name="ios-arrow-forward" item-end></ion-icon>
   </ion-item >
   
   <ion-item  class="bottom-border" color="gray" text-center>

       <ion-label >Menu</ion-label>
   </ion-item >
   
 
   <ion-list>
      <button class="bottom-border" color=silver ion-item icon-left text-left  no-lines *ngFor="let p of pages"  (click)="openPage(p.component)">
         <!--<ion-icon [name]="p.MIcon" item-start></ion-icon>-->
        
          <img [src]="'assets/img/'+p.MIcon">
        {{p.title}}
       
      </button>
   </ion-list>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

<!--</ion-split-pane>-->
