// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}

.title-margin {
   margin-top:20px !important;
}

.activeHighlight {
   backgroung-color: blue;
}
.item-border{
  border-bottom: 1px solid gray;
}

.list-md .item-block .item-inner {
    border: medium none;
		}

.profile-pic {
    border: 3px solid white;
    height: 160px !important;
    margin: 0 auto;
    width: 160px !important;
}


.profile-color {
   background-color:#03b6b3 !important;
}

.alert-md .alert-head {
   @media screen and (max-width: 567px) {
     font-size: 1.0rem;
   }
   @media screen and (min-width: 567){
      font-size: 2.0rem;
   }
    background: #03b6b3;
    color: white;
    padding: 10px 10px;
    text-align: start;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	
}

.alert-wrapper {
   
    margin-top: -40px !important; 
}

.alert-md .alert-message {
   padding: 0 24px !important;
	 height: 30px !important;
}

.alert-input-group  {
    padding: 0 24px !important;
}

.alert-button-group {
    padding: 0 !important;
}


.alert-md .alert-button {
    background-color: #03b6b3;
    border-radius: 15px;
    color: white;
    margin: 3px 40px 4px 0;
    padding: 5px 15px;
   }

	 
.alert-md [aria-checked="true"] .alert-checkbox-icon {
    background-color: #03b6b3;
    border-color: #03b6b3;
}

.alert-md .alert-wrapper {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  
	@media screen and (max-width: 567px) {
       max-width: 280px !important;
   }
   @media screen and (min-width: 567){
       max-width: 380px !important;
   }
}
.item[no-lines].bottom-border { 
    border-bottom: 1px solid grey; 
}



 