<ion-header>
  <ion-navbar >
    <ion-title>Add Visitor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
            
            <!--<ion-item>
                <ion-input class="text-border" type="number" placeholder="SNo" [(ngModel)]="siteProgressData.sno"></ion-input>
            </ion-item>--> 			
            <ion-item>
               <ion-label floating>Name</ion-label>
               <ion-input [(ngModel)]="siteProgressData.Name"></ion-input>
            </ion-item>
			 <ion-item>
                <ion-label floating>Company</ion-label>
                <ion-input  [(ngModel)]="siteProgressData.Company"></ion-input>
            </ion-item> 
			 <ion-item>
                <ion-label floating>IN</ion-label>
                <ion-input  [(ngModel)]="siteProgressData.VIN"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label floating>OUT</ion-label>
                <ion-input  [(ngModel)]="siteProgressData.VOUT"></ion-input>
            </ion-item> 
			
			<!-- <ion-item>
			   <button ion-button icon-left (click)="upload()">
				  <ion-icon name="md-attach"></ion-icon>
			  </button>
			 </ion-item>-->
		    <ion-item  text-center no-lines>
		       <button ion-button small round (click)="submitData()" class="save-btn" color="hcolor">Save</button>
		    </ion-item>
		 
		 
</ion-content>