page-site-form {

.text-border {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
		margin-top: 5px;
}

.save-btn {
    height: 35px;
    text-align: center;
    width: 120px;
}

.header-color {
  background-color:#03b6b3;
}

}