page-calendar {
    [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
      }
      .col {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-left: 5px;
      }
      .last-month, .next-month {
        color: #999999;
        font-size: 80%;
      }
      .currentDate, .otherDate {
        padding: 5px;
      }
      .currentDate {
        font-weight: bold;
        background-color: transparent;
        color: red;
        border-radius: 30px;
      }
      .calendar-header {
        background-color: #03b6b3;
        color: #FFFFFF;
      }
      #circle {
       width: 15px;
       height: 15px;
       vertical-align: middle;
       border-radius: 50%;
       text-align: center;
       background: gray;
       font-size: 50%; 
      }
      .event-bullet {
        margin: 2px auto;
        height: 15px;
        width: 15px;
          vertical-align: middle;
          text-align: center;
        background-color: gray;
        border-radius: 30px;
         font-size: 50%;
      }
      .selected-date {
        width: 20px;
        height: 2px;
        background-color: blue;
      }
      .unselected-date {
        border: none;
      }
      .calendar-body {
        .grid {
          padding: 0;
        }
        .col:last-child {
          border-right: none;
        }
        .calendar-weekday, .calendar-date {
          text-align: center;
          margin: 0;
        }
        .calendar-weekday {
          font-weight: bold;
          border-bottom: solid 1px #03b6b3;
          background-color: #c7f3f2;
         
        }
        .calendar-date {
          border-top: solid 1px #03b6b3;
          border-bottom: solid 1px #03b6b3;
           font-size: 120%;
        }
      }
      ion-list {
        margin: -1px 0px 24px;
        border-bottom: 8px solid lightgray;
        border-top: 8px solid lightgray;
    }
    }
    