<!--
  Generated template for the ProjecttabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
<ion-list>
 
    <button ion-item *ngFor="let item of projectData">
      
      {{item.ProjectName}}
     
    </button>
   
  </ion-list>
</ion-content>
