<!--
  Generated template for the MaterialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Material</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
            
            <ion-item>
               <ion-label floating>Description</ion-label>
               <ion-input  [(ngModel)]="materialData.resource"></ion-input>
            </ion-item>
			 <ion-item>
                <ion-label floating>Brand</ion-label>
                <ion-input  [(ngModel)]="materialData.brand"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label floating>Qty</ion-label>
                <ion-input  [(ngModel)]="materialData.qty" type="number"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label floating>Remark</ion-label>
                <ion-input  [(ngModel)]="materialData.remark"></ion-input>
            </ion-item> 
			
			
		    <ion-item  text-center no-lines>
		       <button ion-button small round (click)="submitData()" class="save-btn" color="hcolor">Save</button>
		    </ion-item>
		 
</ion-content>
