<ion-content padding>
   <ion-fab bottom right #fab>
	  <button ion-fab color="hcolor" (click)="presentActionSheet()">
		   <ion-icon name="md-camera" ></ion-icon>       
	  </button>
	</ion-fab> 
   <ion-grid>
		  <ion-row class="row unlimited-items">

			 <ion-col class="col" *ngFor="let image of progressImages.data" (click)="imageDetail(image)">
				<ion-card class="card-height">
				 <ion-card-content style="padding: 0px; height: 600px width: 400px;">
				  <img src ="http://skylimit.co.in/Client/ChatApplication/{{image}}">				  
				  </ion-card-content>
				  </ion-card>
			</ion-col>
		
	     </ion-row>
	</ion-grid>

</ion-content>
