page-progress-photo {

	.row.unlimited-items .col{
	  flex: none;
	  @media screen and (max-width: 567px) {
		width: 50%;
	  }
      @media screen and (min-width: 567){
		width: 25%;
	  }
	  
	}
	.card-md {
    margin: 0 0px 1px 1px;
    width: 100%;
 }
	.scroll-content{
		padding: 4px !important;
	}
.grid {
    padding: 0;
}

.card-height img{
    height: 150px;
		width: 100%;
}

}
