<!--
  Generated template for the ManpowerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Manpower</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
            
            <!--<ion-item>
                <ion-input class="text-border" type="number" placeholder="SNo" [(ngModel)]="siteProgressData.sno"></ion-input>
            </ion-item>--> 			
            <ion-item>
               <ion-label >Resource</ion-label>
                 <ion-select class="option-width" [(ngModel)]="manpowerData.resource" >
                       <ion-option *ngFor ="let item of RescData" value="{{item.RID}}">{{item.RDescription}}</ion-option>
               </ion-select>
            </ion-item>
			 
			<ion-item>
                <ion-label floating>Qty</ion-label>
                <ion-input  [(ngModel)]="manpowerData.qty" type="number"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label floating>Remark</ion-label>
                <ion-input  [(ngModel)]="manpowerData.remark"></ion-input>
            </ion-item> 
			
			
		    <ion-item  text-center no-lines>
		       <button ion-button small round (click)="submitData()" class="save-btn" color="hcolor">Save</button>
		    </ion-item>
		 
		 
</ion-content>
