<ion-content padding>
 <ion-list class="item-margin">  
	<ion-item class="header-margin">
	   <h2 class="pd-10"><b>Man Power</b></h2>
	</ion-item>
	<ion-item>
	   <button ion-button icon-left (click) ="manPowersPrompt()" color="hcolor">
		    <ion-icon name="md-add"></ion-icon>
	   </button>
	   <ion-row>
			
			<ion-col col-5 class="header-color">
			 <p class="pd-5">Resource</p>
			</ion-col>
			<ion-col col-2 class="header-color">
			  <p class="pd-5">Qty</p>
			</ion-col>
			<ion-col col-5 class="header-color">
			  <p class="pd-5">Remark</p>
			</ion-col>
	  </ion-row>
		 <ion-row *ngFor = "let item of ManPower">
		
			 
			<ion-col col-5 >
			 <p class="pd-5" >{{item.RDescription}}</p>
			
			</ion-col>
			<ion-col col-2>
			  <p class="pd-5">{{item.RQty}}</p>
			
			</ion-col>
			<ion-col col-5>
			  <p class="pd-10">{{item.RRemarks}}</p>
			  
			</ion-col>
		 </ion-row>
	</ion-item>
	<ion-item>
	   <h2 class="pd-10"><b>Machinery</b></h2>
	</ion-item>
	<ion-item>
	   <button ion-button icon-left (click) ="machineryPrompt()" color="hcolor">
		    <ion-icon name="md-add"></ion-icon>
	   </button>
	   <ion-row>
			
			<ion-col col-5 class="header-color">
			 <p class="pd-5">Resource</p>
			</ion-col>
			<ion-col col-2 class="header-color">
			  <p class="pd-5">Qty</p>
			</ion-col>
			<ion-col col-5 class="header-color">
			  <p class="pd-10">Remark</p>
			</ion-col>
		 </ion-row>
		  <ion-row *ngFor = "let item of Machinery">
			
			<ion-col col-5>
			 <p class="pd-5">{{item.MDescription}}</p>
			
			</ion-col>
			<ion-col col-2>
			  <p class="pd-5">{{item.MQty}}</p>
			
			</ion-col>
			<ion-col col-5>
			  <p class="pd-10">{{item.MRemarks}}</p>
			
			</ion-col>
		 </ion-row>
	</ion-item>
	<ion-item>
	   <h2 class="pd-10"><b>Material</b></h2>
	</ion-item>
	<ion-item>
	   <button ion-button icon-left (click) ="materialPrompt()" color="hcolor">
		    <ion-icon name="md-add"></ion-icon>
	   </button>
	   <ion-row>
			
			<ion-col col-4 class="header-color">
			 <p class="pd-5">Description</p>
			</ion-col>
			<ion-col col-2 class="header-color">
			  <p class="pd-5">Brand</p>
			</ion-col>
			<ion-col col-2 class="header-color">
			  <p class="pd-10">Qty</p>
			</ion-col>
			<ion-col col-4 class="header-color">
			  <p class="pd-5">Remarks</p>
			</ion-col>
		 </ion-row>
		  <ion-row *ngFor = "let item of Material">
			
			<ion-col col-4>
			  <p class="pd-5">{{item.TDescription}}</p>
			 
			</ion-col>
			<ion-col col-2>
			  <p class="pd-5">{{item.TBrand}}</p>
			 
			</ion-col>
			<ion-col col-2>
			  <p class="pd-10">{{item.TQty}}</p>
			  
			</ion-col>
			<ion-col col-4>
			  <p class="pd-5">{{item.TRemarks}}</p>
			 
			</ion-col>
		 </ion-row>
	</ion-item>
 </ion-list>

</ion-content>
