page-material-resource {
.header-color {
  background-color:#03b6b3;
}

.item-margin {
   margin-left: -32px !important;
   margin-right: -34px !important;
}
.pd-5{
  padding-left: 5px !important;
}
.pdt-5{
  padding-left: -5px !important;
}
.pd-10{
  padding-left: 10px !important;
}
.item-width {
   max-width: 17% !important;
}

.item-mrg {
   margin-top: -21px !important;
 }

 .item-md .item-button {
    font-size: 1.2rem;
    height: 30px;
    padding: 1em 0.8em;
}

.button-md {
    
    border-radius: 15px;
		}

.icon.icon-md.ion-md-add {
    padding-right: 0;
}

.label-md {
    margin: 0px;
}

}